<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/style.css">
    <title>Document</title>
</head>

<body>
    <div class="container">
        <form action="">
            <div class="details-form">
                <div class="title">Enter Red Wine Details</div>
                <div class="input-box">
                    <input type="text" placeholder="fixed acidity" required>
                </div>
                <div class="input-box">
                    <input type="text" placeholder="volatile acidity" required>
                </div>
                <div class="input-box">
                    <input type="text" placeholder="citric acid" required>
                </div>
                <div class="input-box">
                    <input type="text" placeholder="residual sugar" required>
                </div>
                <div class="input-box">
                    <input type="text" placeholder="chlorides" required>
                </div>
                <div class="input-box">
                    <input type="text" placeholder="free sulfur dioxide" required>
                </div>
                <div class="input-box">
                    <input type="text" placeholder="total sulfur dioxide" required>
                </div>
                <div class="input-box">
                    <input type="text" placeholder="density" required>
                </div>
                <div class="input-box">
                    <input type="text" placeholder="pH" required>
                </div>
                <div class="input-box">
                    <input type="text" placeholder="sulphates" required>
                </div>
                <div class="input-box">
                    <input type="text" placeholder="alcohol" required>
                </div>
                <div class="input-box">
                    <input type="text" placeholder="alcohol" required>
                </div>
                <div class="input-box">
                    <input type="submit" placeholder="alcohol" value="Predict" required>
                </div>
            </div>
        </form>
    </div>
</body>

</html>